<app-header></app-header>
<h3 class="text-center p-2 mt-4">Student</h3>
<app-student-form *ngIf="showAddForm" (UpdateParent)="FetchListAfterUpdate($event)"></app-student-form>
<app-edit-student-form *ngIf="showEditForm" [data]="editValue" (UpdateParent)="FetchListAfterUpdate($event)"></app-edit-student-form>
<div class="col-12 d-flex justify-content-end flex-column">
  <div class="col-12 d-flex justify-content-end">
    <button class="btn btn-warning col-1 mb-3 box-shadow" (click)="ToggleShowAddForm(null)">+ Add</button>
  </div>
  <app-student-list [list]="data" (PassDeleteValue)="DeleteStudent($event)" (PassEditValue)="SetEditStudentValue($event)"></app-student-list>
</div>

