<div class="col-12 box-shadow">
  <table class='table'>
    <thead>
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Description</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data;">
        <td>{{item.courseCode}}</td>
        <td>{{item.courseName}}</td>
        <td>{{item.description}}</td>
        <td class="p-2 d-flex justify-content-evenly">
          <button class="btn btn-primary" (click)="SetEditableCourse(item)">Edit</button>
          <button class="btn btn-danger" (click)="SetDeleteCourseId(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


