<div class="colour-background d-flex justify-content-center p-4">
  <div class="col-6 card p-2">
    <h4 class="text-center">Add Student</h4>
    <form class="form-group" [formGroup]="studentForm" #f="ngForm" (ngSubmit)="submitForm(f)">
      <div class="col-12 p-1">
        <label for="firstName">First Name</label>
        <input class="form-control mb-2" type="text" id="firstName" name="firstName" formControlName="firstName" required/>
        <div class="text-danger" *ngIf="studentForm.controls['firstName'].errors && studentForm.controls['firstName'].errors?.['required']">
          Student first name is required.
        </div>
        <div class="text-danger" *ngIf="studentForm.controls['firstName'].errors && studentForm.controls['firstName'].errors?.['max']">
          Student first name max length is 100 characters.
        </div>
        <div class="text-danger" *ngIf="studentForm.controls['firstName'].errors && studentForm.controls['firstName'].errors?.['pattern']">
          Student first name has invalid character.
        </div>
      </div>
      <div class="col-12 p-1">
        <label for="lastName">Last Name</label>
        <input class="form-control mb-2" type="text" id="lastName" name="lastName" formControlName="lastName" required/>
        <div class="text-danger" *ngIf="studentForm.controls['lastName'].errors && studentForm.controls['lastName'].errors?.['required']">
          Student last name is required.
        </div>
        <div class="text-danger" *ngIf="studentForm.controls['lastName'].errors && studentForm.controls['lastName'].errors?.['max']">
          Student last name max length is 100 characters.
        </div>
        <div class="text-danger" *ngIf="studentForm.controls['lastName'].errors && studentForm.controls['lastName'].errors?.['pattern']">
          Student last name has invalid character.
        </div>
      </div>
      <div class="col-4 p-1">
        <label for="age">Age</label>
        <div>
          <input class="form-control mb-2" type="number" id="age"  name="age" formControlName="age" required/>
        </div>
        <div class="text-danger" *ngIf="studentForm.controls['age'].errors && studentForm.controls['age'].errors?.['required']">
          Student age is required.
        </div>
        <div class="text-danger" *ngIf="studentForm.controls['age'].errors && studentForm.controls['age'].errors?.['pattern']">
          Student description has invalid number.
        </div>
      </div>
      <div class="col-12 d-flex justify-content-end p-1">
        <button class="col-3 btn btn-primary m-1" type="submit" [disabled]="!studentForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>



