<div class="colour-background d-flex justify-content-center p-4">
  <div class="col-6 card p-2 box-shadow">
    <h4 class="text-center">Edit Student</h4>
    <form class="form-group" [formGroup]="StudentForm" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="col-12 p-1">
        <label for="firstName">First Name</label>
        <input class="form-control mb-2" type="text" id="firstName" name="firstName" formControlName="firstName" required/>
        <div *ngIf="StudentForm.controls['firstName'].errors && StudentForm.controls['firstName'].errors?.['required']">
          Name is required.
        </div>
      </div>
      <div class="col-12 p-1">
        <label for="lastName">Last Name</label>
        <input class="form-control mb-2" type="text" id="lastName" name="lastName" formControlName="lastName" required/>
      </div>
      <div class="col-12 p-1">
        <label for="age">Age</label>
        <input class="form-control mb-2" type="text" id="age" name="age" formControlName="age"/>
      </div>
      <div class="col-12 d-flex justify-content-end p-1">
        <button class="col-3 btn btn-primary m-1" type="submit" [disabled]="!StudentForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>


