<div class="colour-background d-flex justify-content-center align-items-center">
  <div class="card col-xs-8 col-4 p-1">
    <h5 class="card-title text-center pt-2">School Management System</h5>
    <div class="card-body text-center">
      <p class="card-text">Please select an options from below to get started</p>
      <div class="col-12 d-flex justify-content-evenly">
        <a class="col-4 btn btn-primary" routerLink="/register">Register</a>
        <a class="col-4 btn btn-primary" routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</div>
