<div class="col-12 box-shadow">
  <table class='table'>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Subject Classifier</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data;">
        <th scope="row">{{item.id}}</th>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.subjectClassifier}}</td>
        <td class="p-2 d-flex justify-content-evenly">
          <button class="btn btn-primary" (click)="handleEditTeacher(item)">Edit</button>
          <button class="btn btn-danger"(click)="handleDeleteTeacher(item.id)">Delete</button>
        </td>
        <!-- <td class="p-2 d-flex justify-content-center"></td> -->
      </tr>
    </tbody>
  </table>
</div>


