<app-header></app-header>
  <h3 class="text-center p-2 mt-4">Courses</h3>
  <app-course-form *ngIf="showAddForm" (OnDataReturned)="GetCourse($event)"></app-course-form>
  <app-edit-course-form *ngIf="showEditForm" [data]="editValue" (UpdateParent)="GetCourse($event)"></app-edit-course-form>
  <div class= "col-12 d-flex justify-content-end flex-column">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-warning col-1 mb-3 box-shadow" (click)="toggleAddForm(null)">+ Add</button>
    </div>
    <app-course-list [list]="data" (DeleteCourseId)="DeleteStudent($event)" (SetCourseToEdit)="UpdateStudent($event)"></app-course-list>
  </div>

