<div class="colour-background d-flex justify-content-center p-4">
  <div class="col-6 card p-2">
    <h4 class="text-center">Register</h4>
    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="col-12 p-1">
        <label for="schoolName">School Name</label>
        <input class="form-control mb-2" type="text" id="schoolName" name="schoolName" formControlName="schoolName" required/>
        <div *ngIf="registerForm.controls['schoolName'].errors &&
        registerForm.controls['schoolName'].errors?.['required']">
          Name is required.
        </div>

      </div>
      <div class="col-12 p-1">
        <label for="address1">Address1</label>
        <input class="form-control mb-2" type="text" id="address1" name="address1" formControlName="address1" required/>
      </div>
      <div class="col-12 p-1">
        <label for="address2">Address2</label>
        <input class="form-control mb-2" type="text" id="address2" name="address2" formControlName="address2" required/>
      </div>
      <div class="col-6 p-1">
        <label for="city">City</label>
        <input class="form-control mb-2" type="text" id="city" name="city" formControlName="city" required/>
      </div>
      <div class="d-flex justify-content-between">
        <div class="col-6 p-1">
          <label for="postalCode">Postal Code</label>
          <input class="form-control mb-2" type="text" id="postalCode" name="postalCode" formControlName="postalCode" required/>
        </div>
        <div class="col-6 p-1">
          <label for="province">Province</label>
          <input class="form-control mb-2" type="text" id="province" name="province" formControlName="province" required/>
        </div>
      </div>
      <hr />
      <div class="col-12 d-flex justify-content-between">
        <div class="col-6 p-1">
          <label for="firstName">FirstName</label>
          <input class="form-control mb-2" type="text" id="firstName" name="firstName" formControlName="firstName" required/>
        </div>
        <div class="col-6 p-1">
          <label for="lastName">LastName</label>
          <input class="form-control mb-2" type="text" id="lastName" name="lastName" formControlName="lastName" required/>
        </div>
      </div>
      <div class="p-1">
        <label for="email">Email</label>
        <input class="form-control mb-2" type="text" id="email" name="email" formControlName="email" required/>
      </div>
      <div class="col-12 d-flex justify-content-between">
        <div class="col-6 p-1">
          <label for="role">Role</label>
          <input class="form-control mb-2" type="text" id="role" name="role" formControlName="role" required/>
        </div>
        <div class="col-6 p-1">
          <label for="phoneNumber">PhoneNumber</label>
          <input class="form-control mb-2" type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" required/>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between p-1">
        <a class="col-3 btn btn-primary m-1" routerLink="/home">Cancel</a>
        <button class="col-3 btn btn-primary m-1" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>


